body{
   margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#saibamais{
    font-size: 150%;
    color: #fff;;
    font-weight:300;
}
.divButton{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
   border:#fff 2px solid;

}
.button{
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-color: #f1c40f;
    border-radius: 10px;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #C72D21 50%, transparent 50%);
    background-image: linear-gradient(45deg, #C72D21 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-out;

}
.button:hover {
background-position: 0;
}
main{
    display: block;
    background-color: #fff;
}

.caminhao{
    width: 140px;
    border-radius: 100px;
}
.localizacao{
    border-radius: 100px;
    width: 140px;
}
.medicamento{
    border-radius: 100px;
    width: 140px;
}
.telefone{
    border-radius: 100px;
    width:140px;
}
.icones-links a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icones-links p{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
section.module.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background:#006F45;
}

section.module p {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 40px 0;
    background:#8EC549 ;
    height: 350px;
}


section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important ;
    width: 100%;
    position: static;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: alternate;
}

section.module.parallax-1{
    background-image: url(../../img/background-dog.jpg) !important;
    background-position: top;
}

@media (max-width:840px) {
    section.module_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;    
    }
    section.module_content p{
        display: flex;
        justify-content:center;
    }
    .icones-links{
        padding: 20px;
    }
}
@media (max-width:650px) {
    section.module_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;    
    }
    section.module_content p{
        display: flex;
        justify-content:center;
    }
    .icones-links{
        
        padding: 20px;
    }

    #saibamais {
        font-size: 20px;
        word-wrap: break-word;
    }
    .container-infos{
        font-size: 15px;
    }
    .container-infos p{
        font-size:15px;
        display: flex;
        justify-content: center;
    }
}