body{
   margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5{
    font-weight: bolder;
    color: #000;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.content{
    padding: 40px 0;
    background: blanchedalmond;
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important ;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1{
    background-image: url(../../img/dog-toys.jpg);
}